:root {
  --primary-blue: #5F9EA0;
  --secondary-blue: #5F9ECF;
  --primary-white: #F0FFFF;
  --data-container-tablet-dimensions: 500px;
  --data-container-mobile-dimensions: 335px;
  --data-container-mobile-small-dimensions: 300px;
  --data-container-border-width: 5px;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  background-image: url(../images/Sea.png);
  background-size: auto 215px;
  background-position: bottom left;
  background-repeat: no-repeat;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

body .tide-container {
  width: var(--data-container-mobile-dimensions);
  height: var(--data-container-mobile-dimensions);
  position: relative;
  top: 50px;
  left: calc(50% - (var(--data-container-mobile-dimensions) / 2) - var(--data-container-border-width));
}

body .tide-container .tide-marker-container {
  width: var(--data-container-mobile-dimensions);
  height: var(--data-container-mobile-dimensions);
  margin: var(--data-container-border-width);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

body .tide-container .tide-marker-container .tide-marker {
  width: 100%;
  background-color: var(--secondary-blue);
  position: absolute;
  bottom: 0;
}

body .tide-container .tide-marker-container .wave-marker {
  width: 100%;
  height: 0;
  background-image: url("../images/waves.png");
  opacity: 0;
  position: absolute;
  bottom: 0;
  -webkit-animation: wave-animation 7.5s infinite;
  -webkit-animation-timing-function: linear;
  animation: wave-animation 7.5s infinite;
  animation-timing-function: linear;
}

body .tide-container .data-container {
  width: var(--data-container-mobile-dimensions);
  height: var(--data-container-mobile-dimensions);
  background-color: transparent;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  border: var(--data-container-border-width) solid var(--primary-white);
  border-radius: 50%;
  overflow: hidden;
}

body .tide-container .data-container .owl-carousel {
  position: relative;
}

body .tide-container .data-container .owl-carousel .owl-item {
  height: var(--data-container-mobile-dimensions);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .tide-container .data-container .owl-carousel .owl-dots {
  position: absolute;
  bottom: 15px;
  left: calc((var(--data-container-mobile-dimensions) / 2) - 36px);
}

body .tide-container .data-container .owl-carousel .tide-info {
  padding: 50px;
}

body .tide-container .data-container .owl-carousel .tide-info p {
  margin: 0;
  text-align: center;
}

body .tide-container .data-container .owl-carousel .tide-info .heading {
  margin-top: 15px;
  font-size: 14px;
}

body .tide-container .data-container .owl-carousel .tide-info .data {
  font-size: 1.2em;
}

body .tide-container .data-container .owl-carousel .tide-info .data.tide-time {
  font-size: 1.5em;
}

body .tide-container .data-container .owl-carousel .tide-info .sub-heading {
  font-size: 11px;
}

body .tide-container .data-container .owl-carousel .tide-info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .tide-container .data-container .owl-carousel .tide-info .tides-info-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .tide-container .data-container .owl-carousel .tide-info .tides-info-container div p {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

body .tide-container .data-container .owl-carousel .tide-info .tides-info-container .tide-times-headings-container {
  margin-top: 5px;
}

body .tide-container .data-container .owl-carousel .tide-info .tides-info-container .tide-times-headings-container p {
  margin-top: 0px;
  font-size: 1.2em;
}

body .tide-container .data-container .owl-carousel .wind-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .tide-container .data-container .owl-carousel .wind-info .icon-container {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

body .tide-container .data-container .owl-carousel .wind-info .icon-container .wind-direction-icon {
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

body .tide-container .data-container .owl-carousel .wind-info .large-heading {
  font-size: 1.5em;
}

body .tide-container .data-container .owl-carousel .wind-info .large-heading,
body .tide-container .data-container .owl-carousel .wind-info .heading {
  width: 100%;
  text-align: center;
}

body .tide-container .data-container .owl-carousel .weather-info {
  width: 80%;
}

body .tide-container .data-container .owl-carousel .weather-info * {
  margin: auto;
}

body .tide-container .data-container .owl-carousel .weather-info .weathericon {
  width: 150px;
  height: 150px;
}

body .tide-container .data-container .owl-carousel .weather-info p {
  margin: 0;
  text-align: center;
}

body .tide-container .data-container .owl-carousel .weather-info .temperature {
  font-size: 1.5em;
}

body .tide-container .data-container .owl-carousel .weather-info .atmospheric-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .tide-container .data-container .owl-carousel .weather-info .atmospheric-conditions .atmospheric-condition {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .tide-container .data-container .owl-carousel .owl-item {
  height: var(--data-container-mobile-dimensions);
}

body .tide-container .data-container .owl-carousel .owl-dots {
  left: calc((var(--data-container-mobile-dimensions) / 2) - 36px);
}

@media (max-width: 325px) {
  body {
    background-size: auto 165px;
  }
  body .tide-container {
    width: var(--data-container-mobile-small-dimensions);
    height: var(--data-container-mobile-small-dimensions);
    left: calc(50% - (var(--data-container-mobile-small-dimensions) / 2) - var(--data-container-border-width));
  }
  body .tide-container .tide-marker-container {
    width: var(--data-container-mobile-small-dimensions);
    height: var(--data-container-mobile-small-dimensions);
  }
  body .tide-container .data-container {
    width: var(--data-container-mobile-small-dimensions);
    height: var(--data-container-mobile-small-dimensions);
  }
  body .tide-container .data-container .owl-carousel .owl-item {
    height: var(--data-container-mobile-small-dimensions);
  }
  body .tide-container .data-container .owl-carousel .owl-dots {
    left: calc((var(--data-container-mobile-small-dimensions) / 2) - 36px);
  }
}

@media (min-width: 450px) {
  body {
    background-position: bottom;
    background-size: contain;
  }
  body .tide-container {
    position: absolute;
    top: calc(50% - (var(--data-container-tablet-dimensions) / 2) - var(--data-container-border-width));
    left: calc(50% - (var(--data-container-tablet-dimensions) / 2) - var(--data-container-border-width));
  }
  body .tide-container .tide-marker-container {
    width: var(--data-container-tablet-dimensions);
    height: var(--data-container-tablet-dimensions);
  }
  body .tide-container .data-container {
    width: var(--data-container-tablet-dimensions);
    height: var(--data-container-tablet-dimensions);
    background-color: transparent;
    margin: auto;
  }
  body .tide-container .data-container .owl-carousel .owl-item {
    height: var(--data-container-tablet-dimensions);
  }
  body .tide-container .data-container .owl-carousel .owl-dots {
    left: calc((var(--data-container-tablet-dimensions) / 2) - 36px);
  }
}

@-webkit-keyframes wave-animation {
  from {
    background-position-x: 0px;
  }
  to {
    background-position: -323px;
  }
}

@keyframes wave-animation {
  from {
    background-position-x: 0px;
  }
  to {
    background-position: -323px;
  }
}
/*# sourceMappingURL=main.css.map */